#################################################
# Gradle
#################################################

.gradle/
build/
out/

!gradle/wrapper/gradle-wrapper.jar

#################################################
# Fabric / Minecraft
#################################################

run/
logs/
crash-reports/

# Arquivos gerados
remappedSrc/
remappedSrcTmp/
generated/

#################################################
# Dependências locais
#################################################

libs/*.jar

# Caso você coloque APIs privadas em libs,
# remova essa linha se quiser versionar elas
# !libs/*.jar

#################################################
# IntelliJ IDEA
#################################################

.idea/
*.iml
*.ipr
*.iws

#################################################
# VSCode
#################################################

.vscode/

#################################################
# Eclipse
#################################################

.project
.classpath
.factorypath
.settings/
.apt_generated/
.springBeans
.sts4-cache/

#################################################
# NetBeans
#################################################

nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
dist/

#################################################
# Sistema Operacional
#################################################

.DS_Store
Thumbs.db
desktop.ini

#################################################
# Arquivos temporários
#################################################

*.log
*.tmp
*.cache

#################################################
# Java
#################################################

*.class

#################################################
# Arquivos de execução local
#################################################

hs_err_pid*
replay_pid*

#################################################
# Permitir source normalmente
#################################################

!src/**